@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&display=swap");
body {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
div {
  font-family: "Kantumruy Pro", sans-serif;
}
